@import url(style.css);
/*navigation bar*/
@keyframes hamburgerRotate1{
    form{
        transform: rotate(0deg);
    }to{
        transform: rotate(90deg);
    }
}
@keyframes hamburgerRotate2{
    form{
        transform: rotate(0deg);
    }to{
        transform: rotate(-90deg);
    }
}
nav{
    user-select: none;
    top: 0;
    width: 100vw;
    height: 65px;
    position: fixed;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: row;
    z-index: 99;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms;
}
.hamburger{
    display: none;
    cursor: default;
    align-items: center;
    padding: 10px;
}
.hamburger img{
    height: 45px;
}
.logo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 60px;
    margin-right: 20px;
}
.siteName{
    font-family: 'Kanit', sans-serif;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #FCF6F5FF;
    text-shadow: 2px 2px 2px black;
}
.logo img{
    height: 55px;
}
.navbutton{
    -webkit-tap-highlight-color: transparent;
    padding: 20px;
    color: #FCF6F5FF;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    transition: 300ms;
}
.navbutton:hover{
    text-shadow: none;
    padding-top: 25px;
    color: black;
    background-color: #FCF6F5FF;
    border-bottom: 1px solid var(--secondaryColor);
}
.sideSection{
    align-items: center;
    display: flex;
    position: absolute;
    right: 40px;
    height: 65px;
}
.sideSection div{
    margin-inline: 10px;
}
.sideSection img{
    -webkit-tap-highlight-color: transparent;
    transition: 150ms;
    height: 30px;
    cursor: pointer;
}
.sideSection img:hover{
    margin-top: 10px;
}
#plFlag{
    outline: 2px solid rgb(19, 192, 19);
}

/*searching bar*/
@keyframes showBar{
    from{
        height: 0px;
    }to{
        height: 200px;
    }
}
@keyframes hideBar{
    from{
        height: 200px;
    }to{
        height: 0px;
    }
}
#searchingBar{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.918);
}
#closeSearch{
    -webkit-tap-highlight-color: transparent;
    transition: 200ms;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 15px;
    height: 45px;
}
#closeSearch:hover{
    height: 38px;
}
#searchInput{
    margin: 30px;
    text-align: center;
    align-items: center;
    height: 35px;
    width: 65vw;
    font-size: 28px;
    border: 1px solid var(--borderColor);
    background-color: transparent;
    color: #FCF6F5FF;
}

/*footer bar*/
footer{
    user-select: none;
    display: flex;
    height: 140px;
    background-color: var(--secondaryColor);
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
footer p{
    color: #FCF6F5FF;
    opacity: 1;
}
footer section{
    display: flex;
    justify-content: center;
    width: 33vw;
    align-items: center;
    color: #FCF6F5FF;
    font-size: 18px;
    text-shadow: 1px 2px 2px var(black);
    font-family: 'Kanit', sans-serif;
}
footer .section3 img{
    cursor: pointer;
    transition: 100ms;
    height: 40px;
    padding: 10px;
}
footer .section3 img:hover{
    margin-top: 10px;
}

/*media queries*/
@media(max-width: 1024px){
    
    nav{
        flex-direction: column;
    }
    .hamburger{
        display: flex;
    }
    nav .logo{
        cursor: default;
        align-items: center;
        display: none;
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 10px;
    }
    .navbutton{
        display: none;
    }
    .navbutton:hover{
        text-shadow: 1px 1px 1px black;
        padding-top: 0px;
        padding: 20px;
        color: #FCF6F5FF;
        background-color: transparent;
        border-bottom: none;
    }
    #closeSearch:hover{
        height: 0;
    }
    .sideSection{
        align-items: center;
        display: none;
        position: relative;
        margin-left: 50px;
    }
    .sideSection div{
        margin-inline: 10px;
    }
    .sideSection img{
        transition: 150ms;
        height: 30px;
        cursor: pointer;
    }
    .sideSection img:hover{
        margin-top: 0px;
    }
    #plFlag{
        outline: 2px solid rgb(19, 192, 19);
    }
    footer{
        flex-direction: column;
        height: auto;
    }
    footer section{
        width: 300px;
    }
    footer .logo{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    footer .section3 img:hover{
        margin-top: 0px;
    }
}
@media(max-width:610px){
    nav{
        height: 55px;
    }
    .hamburger{
        padding: 7.5px;
    }
    .hamburger img{
        height: 40px;
    }
    #searchingBar{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 200px;
    }
    #closeSearch{
        left: 10px;
        top: 10px;
        height: 35px;
    }
    #searchInput{
        margin: 25px;
        height: 32px;
        width: 95vw;
        font-size: 25px;
    }
    footer .siteName{
        font-size: 20px;
    }
    footer .logo img{
        height: 45px;
    }
    footer p{
        font-size: 16px;
    }
    footer .section3 img{
        height: 35px;
    }
    @media(max-height:400px)
    {
        nav .logo{
            margin-top: 0px;
        }
        .navbutton{
            padding-block: 7.5px;
        }
    }
}