@import url(style.css);
/*recipe section*/
#recipeScreen{
    display: none;
}
.recipeTile{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30vw 60vw;
    justify-content: center;
    grid-gap: 20px;
}
.gridItem{
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--borderColor);
    background-color: var(--background);
}
.gridItem h2{
    font-size: 32px;
    text-align: center;
    color: var(--pageTitleColor);
}
.gridItem h3{
    color: var(--contacth1Color);
    text-align: center;
    font-size: 28px;
}
.requiredItems{
    grid-column: 1;
}

/*items list*/
.itemList{
    overflow-y: auto;
    max-height: 550px;
}
.itemList::-webkit-scrollbar, .steps-wrap::-webkit-scrollbar{
    width: 5px;
}
.itemList::-webkit-scrollbar-track, .steps-wrap::-webkit-scrollbar-track{
    background-color: transparent;
}
.itemList::-webkit-scrollbar-thumb, .steps-wrap::-webkit-scrollbar-thumb{
    background-color: var(--secondaryColor);
}
.recipeItems{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.recipeItems p{
    padding: 15px;
    font-size: 18px;
}
.checkmark{
    color: var(--checkmarkColor);
    user-select: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    outline: 1px solid var(--border2Color);
}
/*recipe steps*/
.steps{
    grid-column: 2;
}
.steps-wrap{
    overflow-y: auto;
    max-height: 550px;
}
.recipeDesc{
    padding-inline: 0px;
    text-align: center;
}
.steps p{
    padding: 15px;
    padding-inline: 50px;
    font-size: 20px;
}
/*comments section*/
.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-wrap{
    display: flex;
    justify-content: center;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
}
.comwrap{
    width: 65%;
}
.comwrap div{
    padding: 10px;
}
.nick{
    color: var(--contacth1Color);
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    line-height: 1px;
}
.commentDate{
    font-size: 15px;
    font-weight: bold;
    color: var(--pageTitleColor);
}
.description{
    color: var(--pColor);
    background-color: var(--background);
    border: 1px solid var(--borderColor);
}
/*write comment section*/
.writeComment{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}
.commentWrap{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.commentWrap div{
    margin-inline: 15px;
}
.commentWrap label{
    color: var(--contacth1Color);
    font-weight: bold;
    font-size: 20px;
}
.commentWrap input{
    color: var(--pColor);
    outline: none;
    border: 1px solid var(--border2Color);
    height: 25px;
    width: 300px;
}
.commentWrap textarea{
    color: var(--pColor);
    border: 1px solid var(--border2Color);
    height: 300px;
    width: 1000px;
    padding: 10px;
}