@import url(style.css);
/*recipe section*/
#recipeScreen{
    display: none;
}
.recipeTile{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30vw 60vw;
    justify-content: center;
    grid-gap: 10px;
}
.gridItem{
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--borderColor);
    background-color: var(--background);
}
.gridItem h2{
    font-size: 32px;
    text-align: center;
    color: var(--pageTitleColor);
}
.gridItem h3{
    color: var(--contacth1Color);
    text-align: center;
    font-size: 28px;
}
.requiredItems{
    grid-column: 1;
}
.steps{
    grid-column: 2;
}
/*folding windows*/
.reqh1, .stepsh1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#needFolding, #stepsFolding{
    transition: 300ms;
    height: 50px;
    right: 0;
    transform: rotate(180deg);
    margin-left: 10px;
    display: none;
}
/*items list*/
.itemList{
    overflow-y: auto;
    max-height: 550px;
    transition: 300ms;
}
.itemList::-webkit-scrollbar, .steps-wrap::-webkit-scrollbar{
    width: 5px;
}
.itemList::-webkit-scrollbar-track, .steps-wrap::-webkit-scrollbar-track{
    background-color: transparent;
}
.itemList::-webkit-scrollbar-thumb, .steps-wrap::-webkit-scrollbar-thumb{
    background-color: var(--pageTitleColor);
}
.recipeItems{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.recipeItems p{
    padding: 15px;
    font-size: 18px;
}
.checkmark{
    -webkit-tap-highlight-color: transparent;
    color: var(--checkmarkColor);
    user-select: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    outline: 1px solid var(--border2Color);
}
/*recipe steps*/
.steps-wrap{
    overflow-y: auto;
    max-height: 550px;
    transition: 300ms;
}
.recipeDesc{
    padding-inline: 0px;
    text-align: center;
}
.steps p{
    padding: 15px;
    padding-inline: 50px;
    font-size: 20px;
}
/*comments section*/
.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-wrap{
    display: flex;
    justify-content: center;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
}
.comwrap{
    width: 65%;
}
.comwrap div{
    padding: 10px;
}
.nick{
    color: var(--contacth1Color);
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    line-height: 1px;
}
.commentDate{
    font-size: 15px;
    font-weight: bold;
    color: var(--pageTitleColor);
}
.description{
    color: var(--pColor);
    background-color: var(--background);
    border: 1px solid var(--borderColor);
}
/*write comment section*/
.writeComment{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}
.commentWrap{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.commentWrap div{
    margin-inline: 15px;
}
.commentWrap label{
    color: var(--contacth1Color);
    font-weight: bold;
    font-size: 20px;
}
.commentWrap input{
    color: var(--pColor);
    outline: none;
    border: 1px solid var(--border2Color);
    height: 25px;
    width: 300px;
}
.commentWrap textarea{
    color: var(--pColor);
    border: 1px solid var(--border2Color);
    height: 300px;
    width: 1000px;
    padding: 10px;
}

/*media queries*/
@media(min-width:1920px){
    .recipeTile{
        grid-template-columns: 575px 1150px;
    }
}
@media(max-width:1600px){
    .recipeTile{
        grid-template-columns: 450px 895px;
    }
}
@media(max-width:1440px){
    .recipeTile{
        grid-template-columns: 80vw;
        grid-template-rows: repeat(2,auto);
        grid-gap: 0px;
    }
    .requiredItems{
        grid-row: 1;
    }
    .steps{
        grid-column: 1;
        grid-row: 2;
        margin-top: 20px;
    }
    #needFolding, #stepsFolding{
        display: block;
    }
    .itemList{
        max-height: 0px;
    }
    .steps-wrap{
        max-height: 0px;
    }
    .commentWrap textarea{
        height: 200px;
        width: 700px;
        padding: 10px;
    }
}
@media(max-width:800px){
    .reqh1 h2, .stepsh1 h2{
        font-size: 28px;
    }
    #needFolding, #stepsFolding{
        height: 45px;
    }
    .commentWrap{
        display: flex;
        flex-direction: column;
        align-items: none;
    }
    .commentWrap div:last-child{
        margin-top: 10px;
    }
    .commentWrap textarea{
        width: 550px;
        padding: 10px;
    }
}
@media(max-width:610px){
    .reqh1 h2, .stepsh1 h2{
        font-size: 24px;
    }
    #needFolding, #stepsFolding{
        height: 40px;
    }
    .checkmark{
        outline: none;
    }
    .recipeItems p{
        font-size: 16px;
    }
    .gridItem h3{
        font-size: 22px;
    }
    .steps p{
        font-size: 17px;
    }
    .commentWrap textarea{
        width: 390px;
        padding: 10px;
    }
}
@media(max-width:425px){
    .reqh1 h2, .stepsh1 h2{
        font-size: 20px;
    }
    #needFolding, #stepsFolding{
        height: 35px;
    }
    .itemList{
        padding-left: 10px;
    }
    .recipeItems p{
        font-size: 14px;
    }
    .gridItem h3{
        font-size: 18px;
    }
    .steps p{
        font-size: 14px;
        padding: 10px;
    }
    .commentWrap textarea{
        width: 330px;
        height: 150px;
        padding: 10px;
    }
}
@media(max-width:375px){
    .reqh1 h2, .stepsh1 h2{
        font-size: 18px;
    }
    .recipeItems p{
        font-size: 14px;
    }
    .gridItem h3{
        font-size: 17px;
    }
    .steps p{
        padding: 5px;
        font-size: 12px;
    }
    .commentWrap input{
        width: 295px;
    }
    .commentWrap textarea{
        width: 280px;
        height: 120px;
    }
}
