@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Raleway&display=swap');
@import url(recipesList.css);
@import url(navigation.css);
@import url(recipe.css);
@import url(about.css);
@import url(contact.css);

:root{
    --primaryColor: #FCF6F5FF;
    --secondaryColor: rgb(197, 45, 63);
    --pageTitleColor: rgb(197, 45, 63);
    --buttonBG: rgb(197, 45, 63);
    --pColor: black;
    --borderColor: rgb(211, 211, 211);
    --border2Color: rgb(197, 45, 63);
    --background: white;
    --dividerColor: rgb(197, 45, 63);

    --recipeNameColor: rgb(197, 45, 63);

    --contacth1Color: black;

    --checkmarkColor: black;

    scroll-behavior: auto;
}
/*Loading screen*/
@keyframes anim {
    from{
        margin-top: 0px;
    }to{
        margin-top: -300px;
    }
}
.loader-wrapper {
    user-select: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background: var(--secondaryColor);
}
.mug1, .mug2, .pour{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mug{
    height: 150px;
    width: 150px;
}
.mug2{
    z-index: 201;
}
.mug1{
    z-index: 203;
}
.pour{
    z-index: 202;
}
.pour div{
    border-radius: 40%;
    margin-top: 300px;
    animation: anim 1s;
    margin-right: 40px;
    height: 150px;
    width: 135px;
    background-color: var(--secondaryColor);
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--primaryColor);
}
li{
    list-style: none;
}
button{
    outline: none;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    transition: 200ms;
    color: #FCF6F5FF;
    border: none;
    background-color: var(--buttonBG);
    padding-inline: 15px;
}
input{
    background-color: var(--background);
    outline: none;
}
textarea{
    background-color: var(--background);
    outline: none;
    resize: none;
}
p{
    color: var(--pColor);
    opacity: 0.8;
}
/*dividers*/
.divider, .sdivider{
    display: flex;
    justify-content: center;
}
.divider div{
    margin-block: 50px;
    width: 65vw;
    border-bottom: 5px solid var(--dividerColor);
}
.sdivider div{
    margin-bottom: 50px;
    width: 65vw;
    border-bottom: 3px solid var(--borderColor);
}
/*main section*/
main{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    flex-direction: column;
}
.sectionTitle{
    text-align: center;
    color: var(--pageTitleColor);
    font-size: 40px;
    font-size: bold;
}
#goUp{
    transition: 200ms;
    display: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 5px;
    margin-top: 50vh;
    margin-bottom: 50vh;
}
#goUp:hover{
    height: 45px;
    width: 45px;
    right: 7px;
}
#goBack{
    display: none;
    rotate: 270deg;
    transition: 200ms;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 25px;
}
#goBack:hover{
    height: 45px;
    width: 45px;
    left: 27px;
}


/*media queries*/
