@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Raleway&display=swap');
@import url(recipesList.css);
@import url(navigation.css);
@import url(recipe.css);
@import url(about.css);
@import url(contact.css);

:root{
    --primaryColor: #FCF6F5FF;
    --secondaryColor: rgb(197, 45, 63);
    --pageTitleColor: rgb(197, 45, 63);
    --buttonBG: rgb(197, 45, 63);
    --pColor: black;
    --borderColor: rgb(211, 211, 211);
    --border2Color: rgb(197, 45, 63);
    --background: white;
    --dividerColor: rgb(197, 45, 63);

    --recipeNameColor: rgb(197, 45, 63);

    --contacth1Color: black;

    --checkmarkColor: black;

    scroll-behavior: auto;
}
/*Loading screen*/
@keyframes anim{
    from{
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}
.loader-wrapper {
    animation: anim 1.5s;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: relative;
    background: linear-gradient(90deg, rgba(255,124,37,1) 0%, rgb(0, 0, 0) 100%);
    box-shadow: 1px 1px 1px black;
    animation: loader 0.5s infinite;
    border-radius: 50%;
}
.loader2{
    display: block;
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}
@keyframes loader{
    0% { transform: rotate(0deg);}
    25% { transform: rotate(90deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(270deg);}
    100% { transform: rotate(360deg);}
}


body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--primaryColor);
}
li{
    list-style: none;
}
button{
    outline: none;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    transition: 200ms;
    color: #FCF6F5FF;
    border: none;
    background-color: var(--buttonBG);
    padding-inline: 15px;
}
input{
    background-color: var(--background);
    outline: none;
}
textarea{
    background-color: var(--background);
    outline: none;
    resize: none;
}
p{
    color: var(--pColor);
    opacity: 0.8;
}
/*dividers*/
.divider, .sdivider{
    display: flex;
    justify-content: center;
}
.divider div{
    margin-block: 50px;
    width: 65vw;
    border-bottom: 5px solid var(--dividerColor);
}
.sdivider div{
    margin-bottom: 50px;
    width: 65vw;
    border-bottom: 3px solid var(--borderColor);
}
/*main section*/
main{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}
.sectionTitle{
    text-align: center;
    color: var(--pageTitleColor);
    font-size: 40px;
    font-size: bold;
}
#goUp{
    transition: 200ms;
    display: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 5px;
    margin-top: 50vh;
    margin-bottom: 50vh;
}
#goUp:hover{
    height: 45px;
    width: 45px;
    right: 7px;
}
#goBack{
    display: none;
    rotate: 270deg;
    transition: 200ms;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 25px;
}
#goBack:hover{
    height: 45px;
    width: 45px;
    left: 27px;
}


/*media queries*/
